#rellotge {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
}

#segons {
    width: 4px;
    height: 180px;
    background-color: gray;
    margin-left: 198px;
    margin-top: 20px;
    position: absolute;
    transform-origin: bottom right;
    animation: linear infinite 60s forwards;
    animation-name: rotate;
}

#minuts {
    width: 6px;
    height: 140px;
    background-color: darkslategray;
    margin-left: 197px;
    margin-top: 60px;
    position: absolute;
    transform-origin: bottom right;
    animation: linear infinite 3600s forwards;
    animation-name: rotate;
}

#hores {
    width: 8px;
    height: 120px;
    background-color: black;
    margin-left: 196px;
    margin-top: 80px;
    position: absolute;
    transform-origin: bottom right;
    animation: linear infinite 43200s forwards;
    animation-name: rotate;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}