@font-face {
    font-family: torus;
    src: url(fonts/torus.woff2);
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1719;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: torus;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.globalnav {
    background-color: #ac396d;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navlogo {
    height: 80%;
}

.space {
    width: 25%;
}

.navegation {
    grid-area: nav;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
    min-width: 666px;
    color: #ffffff;
    gap: 20px;
}

.navegation h6 {
    font-size: 15px;
    font-weight: normal;
}

.options {
    grid-area: nav;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 15%;
    min-width: 285px;
    color: #ffffff;
    gap: 20px;
}

.navpic {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 80%;
    border-radius: 100px;
}

.navpic:hover {
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
}

main {
    padding-top: 50px;
    min-width: 950px;
    width: 50%;
    min-width: 950px;
    height: 2000px;
    background-color: #2a2226;
}

header {
    padding-top: 10px;
    padding-left: 50px;
    color: #ffffff;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.mainnav {
    margin-top: 20px;
    background-color: #3d2932;
    width: calc(100% - 100px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.mainnav h5 {
    color: #d9a6b0;
}

.mainnav img {
    height: 20px;
}

.spacer {
    width: 100%;
}

.banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profilepic {
    position: absolute;
    top: 375px;
    left: calc(25% + 50px);
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 32px;
}

.info {
    color: #ffffff;
    padding-left: 200px;
    background-color: #382e32;
    margin-top: -4px;
    height: 90px;
}

.info h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 10px;
}

.info .top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 42px;
}

.info .top>i {
    padding-top: 20px;
}

.supportertag {
    padding-left: 9px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: #ff66ab;
    height: 15px;
    width: 30px;
    margin-top: 20px;
    border-radius: 15px;
}

.supportertag i {
    padding-top: 7px;
}

.info .bot {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 42px;
}

.flag {
    height: 28px;
}

.info .bot h2 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 4px;
}

.stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 190px;
}

.stats .ranks {
    width: 65%;
    padding-left: 50px;
}

.counters {
    width: 30%;
}

.stats hr {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
    width: 2px;
    background-color: #1c1719;
    border-width: 0px;
}

.ranks .rankings {
    height: 50px;
}

.stats .ranks .rankings {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.stats .ranks .rankings div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.stats .ranks .rankings * {
    margin: 0px;
}

.stats .ranks .rankings div h3 {
    font-size: smaller;
    color: #ffffff;
    font-weight: normal;
}

.stats .ranks .rankings div h2 {
    margin-top: -4px;
    font-size: 30px;
    color: #f0dbe4;
    font-weight: normal;
}

.ranks .nums {
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}

.stats .ranks .nums {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.stats .ranks .nums div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.stats .ranks .nums * {
    margin: 0px;
}

.stats .ranks .nums div h3 {
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}

.stats .ranks .nums div h2 {
    margin-top: -4px;
    font-size: 15px;
    color: #f0dbe4;
    font-weight: normal;
}

.stats .ranks .nums .letters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    margin-right: 20px;
}

.stats .ranks .nums .letters h4 {
    text-align: center;
    font-size: 10px;
    color: #ffffff;
}
.stats .ranks .nums .letters img {
    height: 20px;
    margin-top: -2px;
}
.morestats {
    height: 60px;
    background-color: #46393f;
}
.counters {
    display: grid;
    place-items: center;
}
table {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
    font-size: 12px;
    width: 240px;
    margin-left: -10px;
}
tr {
    display: grid;
    grid-template-columns: 160px 60px;
}