body {
    background-color: rgb(150,200,255);
    display: flex;
    flex-direction: row-reverse;
}
body div {
    text-align: center;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
.a {
    width: 150px;
    height: auto;
}
.b {
    width: 100px;
    height: auto;
}
.c {
    width: 100px;
    height: 30px;
}