.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 100px 50px;
}

.item1, .item2, .item3, .item4 {
    background-color: #006994;
    text-align: center;
}
.item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 15px;
}
.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 15px;
}
.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 15px;
}
.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 15px;
}
.item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 15px;
    background-color: paleturquoise;
}