.grid-container {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    background-color: lightgray;
    width: 210px;
    height: 210px;
    margin: auto;
}
.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-image: url("https://i.ibb.co/SnQtZNw/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}
  .grid-item2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: cyan;
    margin: 5px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 1;
    grid-row-end: 2;
}
.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}