body {
    margin: 0px;
    padding: 0px;

    font-family: Verdana;
}

img {
    height: 100px;
    width: 100px;
}

header {
    padding: 30px;

    background: #333334;
    color: #ffffff;

    font-size: 3em;
    font-weight: bold;
}

div {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.nonwrap {
    flex-wrap: nowrap;
}