button {
  color: #1e1e1e;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  font-size: large;
  margin-left: -10px;
}

button:hover {
  opacity: 0.8;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  display: grid;
  grid-template-columns: 20% 38% 38% 4%;
  background-color: #1e1e1e;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1e1e1e;
}

.c1::-webkit-scrollbar, .c2::-webkit-scrollbar, .c3::-webkit-scrollbar, .c4::-webkit-scrollbar {
  display: none;
}

.c1, {
  float: left;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.c2 {
  float: left;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.c3 {
  float: left;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.c4 {
  margin-top: 20px;
  float: left;
  grid-column-start: 4;
  grid-column-end: 5;
  width: 100%;
  height: 97%;
  align-items: center;
}
.c1 .content {
  margin-left: 15px;
  border-radius: 25px;
  background-color: #f5989d;
}
.c2 .content {
  margin-left: 15px;
  border-radius: 25px;
  background-color: #dddddd;
}
.c3 .content {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 25px;
  background-color: #dddddd;
}
.c4 .content {
  margin-right: 15px;
  border-radius: 25px;
  background-color: #f5989d;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.c41, .c42, .c43 {
  transform: rotate(-90deg);
  margin-top: 100px;
  margin-bottom: 100px;
}
.ite {
  margin-top: auto;
  margin-bottom: auto;
}
hr {
  width: 95%;
  border: 1px solid rgba(30,30,30,0.5);
}
h1, h2 {
  text-align: center;
  background-color: #f5989d;
  border-radius: 25px;
}

h3 {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.c4 .contact h3 {
  width: 100%;
  height: 100%;
}
.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  width: 90%;
}
.skills .item {
  gap: 10px;
}
.c1 .left {
  width: 40%;
  font-weight: bold;
}
.c1 .right {
  width: 60%;
}
.item {
  margin: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.left {
  width: 20%;
  font-weight: bold;
}
.right {
  width: 80%;
}
.date {
  font-family: 'Courier New', Courier, monospace;
}

.languages .item, .skills .item, .contact .item {
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.studies .item {
  flex-direction: column;
  margin-top: 0px;
  margin-right: 15px;
}

.studies .item .left, .studies .item .right {
  width: 100%;
}
.studies .item .right {
  margin-top: -20px;
  margin-bottom: -10px;
}
.contact .item .left {
  margin-right: -50px;
}
.contact .item .right {
  color: rgba(30,30,30,0.8);
}
a {
  color: rgba(30,30,30,0.8);
  text-decoration: none;
}
.img {
  width: 20%;
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.icon {
  width: 20px;
  height: 20px;
}
.delegate {
  font-style: italic;
  font-size: small;
}

@media (max-width: 1500px) {
  body {
    grid-template-columns: 30% 70%;
    grid-template-rows: 8% 51% 51%;
  }
  .profile {
    width: 90%;
  }
  .c1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .c2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 98%;
  }
  .c3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .c4 {
    float: none;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 10px;
  }
  .ite {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 150px;
  }
  .c41, .c42, .c43 {
    transform: rotate(0deg);
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .c4 .content {
    margin-left: 15px;
    height: 88%;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  html, body {
    height: auto;
    overflow: auto;
    margin: 0;
  }
  body {
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto auto;
    margin-right: 15px;
  }
  .profile {
    width: 60%;
  }
  .c1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
  }
  .c2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow: auto;
    margin-left: 0px
    margin-right: -10px
  }
  .c3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    overflow: auto;
  }
  .c4 {
    float: none;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: auto;
  }
  .c1, .c2, .c3, .c4 {
    -ms-overflow-style: hidden;
    margin-right: 0px
  }
  .languages {
    margin-right: 0px
  }
  
  .ite {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 15%;
    margin-left: -40px;
  }
  .c41, .c42, .c43 {
    transform: rotate(0deg);
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .c4 .content, .c3 .content, .c2 .content, .c1 .content {
    align-items: center;
    margin-right: 0px;
  }
}