body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: corp-sans;
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "main main contact";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px calc(100% - 30px);
    overflow: hidden;
}