@font-face {
    font-family: ProductSans;
    src: url(fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vmax;
    background-color: #252525;
    color: #dddddd;
    display: grid;
    grid-template-areas:
        "head head"
        "nav main";
    grid-template-columns: 260px calc(100% - 260px);
    grid-template-rows: 60px calc(100% - 60px);
}

header {
    font-family: ProductSans;
    grid-area: head;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

nav {
    font-family: Roboto;
    grid-area: nav;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    font-family: Roboto;
    grid-area: main;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 10px;
    font-size: 12px;
}

.logoimg {
    height: 40px;
    border-radius: 10px;
}

nav > div {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 33px;
    font-size: 10px;
}
.active, nav > div:hover {
    cursor: pointer;
    background-color: #303030;
}