body {
    margin: 0px;
    padding: 0px;

    font-family: Verdana;
}

img {
    width:25vw;
    height:25vw;
}

header {
    padding: 30px;

    background: #333334;
    color: #ffffff;

    font-size: 3em;
    font-weight: bold;
}

div {
    display: flex;
}

section {
    display: flex;
}

h1 {
    text-align: center;
}

.ctr {
    justify-content: center;
}

article {
    padding: 20px;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
}

.article-1 {
    background-color: paleturquoise;
}

.article-2 {
    background-color: greenyellow;
}

.article-3 {
    background-color: mediumslateblue;
}

@media (max-width: 600px) {
    section{
        flex-direction: column;
    }
}