body {
    border: 0;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex: 1;
}

header {
    background-color: #1abc9c;
    line-height: 80px;
}

nav {
    background-color: #3498db;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

article {
    background-color: #9b59b6;
    width: 100%;
}

footer {
    background-color: #e67e22;
}

header,
nav,
article,
footer {
    color: white;
    padding: 10px;
}

header,
footer {
    height: 12vmax;
    text-align: center;
    width: 100%
}

h1,
p {
    margin: 0 0 15px 0;
}

nav a {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
    line-height: 40px;
    text-decoration: none;
}

html,
body {
    height: 100vh;
    width: 100vm;
}

main {}

main nav {
    width: 200px;
}

main article {}