div {
    width: 100px;
    height: 100px;
    background: greenyellow;
    position: relative;
}

.desplaçament {
    animation: linear 5s forwards;
    animation-name: trans;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

@keyframes trans {
    100% {
        transform: translate(100px, 0px);
    }
}