@font-face {
    font-family: abadi;
    src: url(../src/fonts/ABALC.TTF);
}
@font-face {
    font-family: corp-sans;
    src: url(../src/fonts/corporative-sans.ttf);
}
.actiu{
    text-decoration: underline;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: corp-sans;
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "main main contact";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px calc(100% - 30px);
    overflow: hidden;
}

nav {
    background-color: #005870;
    grid-area: nav;
    display: grid;
    grid-template-areas:
        "logo lnk1 lnk2 lnk3 nose";
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px;
    color: #ffffff;
}

.logo {
    margin-top: auto;
    margin-right: auto;
    display: block;
    height: 90%;
    grid-area: logo;
}

.home {
    grid-area: lnk1;
    display: grid;
    place-items: center;
}

.serveis {
    grid-area: lnk2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.qsom {
    grid-area: lnk3;
    display: grid;
    place-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    transition: 0.1s;
}

nav div a:hover {
    color: #cccccc;
    transform: scale(1.1);
    transition: 0.1s;
}

main {
    grid-area: main;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #cccccc;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
h1 {
    font-weight: normal;
    font-size: 40px;
}
.texts {
    margin: 0px;
    color: black;
}
.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
h1 {
    color: black;
    text-align: center;
}
h2 {
    text-align: center;
}
.digspacer {
    margin-left: auto;
    margin-right: auto;
}
.mutues img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 70px;
}

h4 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: #00a0e4;
    font-family: abadi;
}

.contact div {
    display: flex;
    gap: 10px;
    margin-right: auto;
    margin-left: 70px;
}

.contact div a {
    text-decoration: none;
    color: black;
    text-align: left;
    line-height: 1.6;
    font-weight: bold;
    font-size: 18px;
}

.contact div * {
    margin-top: auto;
    margin-bottom: auto;
}

.contact div i {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}

.contact .horari {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
}

.contact .horari h3 {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
}

.contact .horari h5 {
    margin-right: auto;
    font-weight: normal;
    font-size: 18px;
}

.spacer {
    margin-top: auto;
    margin-bottom: auto;
}