body {
    width: 60em;
    margin: 0 auto;
    overflow: auto;
    display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 1fr 2fr 1fr;
}

section {
    padding: 2em;
    margin: 1em;
}

#green {
    background-color: #baffc9;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#orange {
    background-color: #ffdfba;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#yellow {
    background-color: #ffffba;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#red {
    background-color: #ffb3ba;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#blue {
    background-color: #bae1ff;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
}