fieldset {
    background-color: beige;
    display: flex;
    gap:1em;
}
fieldset input {
  width: 100%;
}
.login{
    display: flex;
    width:900px;
    max-width: 100%;
    margin:0 auto;
    box-shadow:0px 0px 6px rgba(0,0,0,0.3);
  }
  
  .login .row{
    display: flex;
    gap:1em;
    justify-content: space-around; 
  }
  
  .login .row button{
    margin:0;
    width:auto;
    flex:1;
    background-color: dodgerblue;
  }
  
  .login article{
    flex-grow: 1;
    
    padding-left:80px;
    padding-right:80px;
  }
  
  .login .sidebar{
    background-color: grey;
    width:200px;
  }

@media (max-width: 600px) {
  .login {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .login .sidebar {
    width: 100%;
    height: 200px; /*  fixem la alçada degut a que no te contingut de height com a referencia*/
  }
  .login header h1 {
    text-align: center;
  }
  .login .row {
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  fieldset {
    background-color: beige;
    flex-direction: column;
    gap:5px;
  }
  fieldset label {
    text-align-last: center;
  }
  fieldset input {
    width: 100%;
  }
}