/*
background-color: #151515;  black
background-color: #f1beb0;  pink
background-color: #d7d5cb;  white
*/

* {
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 0px;
  text-align: center;
  cursor: default;
}

body {
  background-color: #000000;
  color: #d7d5cb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

h1 {
  color: #ffffff;
}

.skins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}

.imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 18px;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
}
.title button{
  margin-top: 20px;
  margin-bottom: 10px;
}

.skin {
  width: calc(70% - 10px);
  background-color: #151515;
  margin-left: auto;
  margin-right: auto;
}

.skin img {
  display: block;
  width: calc(50% - 20px);
  margin: 10px;
  border: #d7d5cb;
  border-style: solid;
}

.spacer {
  margin-left: auto;
  width: auto;
}

button {
  height: 2em;
  width: auto;
  text-align: center;
  font-weight: bold;
}

.download {
  margin-left: auto;
  background-color: #77dd77;
  cursor: pointer;
  margin-right: 0px;
}
.download::after {
  content: ' Download';
}
.link:hover, .images:hover, .download:hover, .for:hover, .back:hover {
  transform: scale(1.1);
  font-weight: bold;
  cursor: pointer;
}
.auth {
  background-color: #3D426B;
}
.back {
  background-color: #99c5c4;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  height: 40px;
  width: 100px;
  font-size: large;
}
.back::after {
  content: ' Back';
}
.latest {
  background-color: #fdfd96;
}
.latest::after {
  content: ' Latest';
}

.original {
  background-color: #c3b1e1;
}
.original::after {
  content: ' Original';
}

.mix {
  background-color: #aec6cf;
}
.mix::after {
  content: ' Mixed';
}

.collab {
  background-color: #779ecb;
}
.collab::after {
  content: ' Collab';
}

.a {
  cursor: pointer;
}
.a {
  cursor: pointer;
}

.for {
  background-color: #faa0a0;
  cursor: pointer;
}
.for::after {
  content: ' Commission';
}
.socials button {
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
}

.socials {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-track {
  background: #151515;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d7d5cb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f1beb0;
  border-radius: 10px;
}

@media (max-width: 1450px) {
  .skin {
    width: 100%;
  }
}