html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

header,
main,
footer {
  margin: 10px;
  height: auto;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

header {
  width: 520px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: grid;
  grid-template-areas:
    "languages studies";
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.languages {
  width: auto;
  grid-area: languages;
  margin-right: 5px;
}

.studies {
  width: auto;
  grid-area: studies;
  margin-left: 5px;
}

h1,
h2 {
  font-weight: bold;
  margin-top: -10px;
  width: 100%;
}

header h1 {
  text-align: center;
  width: 540px;
  margin-left: -10px;
}


.about {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-rows: auto;
  grid-template-columns: 250px 250px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  grid-area: left;
  margin-right: 5px;
}

.right {
  grid-area: right;
  margin-left: 5px;
}

.about h2 {
  padding-left: 10px;
}

.profile {
  width: 100%;
  display: block;
  align-self: center;
  border-radius: 10px;
}
main div h2 {
  margin-left: 0px;
  padding-left: 0px;
}
ul {
  list-style-type: none;
  row-gap: 10px;
  margin-left: -30px;
}

li {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 10px;
  margin: 10px 0;
}

i {
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
  color: #040401;
}

table {
  margin: 10px;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
}


::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-track {
  background: #404258;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d7d5cb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B728E;
  border-radius: 10px;
}