#flexbox-container{
    display: flex;
}
#flexbox-container div{
    text-align: center;
    display: grid;
    place-items: center;
    height:50px;
    width:50px;
    border-radius: 5px;
    margin-left:5px;
    background-color:limegreen;
}
#flexbox-container div:hover{
    margin-top: 10px;
}