* {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    border-color: #dddddd;
}

body {
    display: grid;
    color: #ffffff;
    font-family: Consolas, serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#wallpaper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
#game {
    height: 750px;
    width: 500px;
    background-color: #bbbbbb;
    left: calc(50vmax - 250px);
    top: calc(50ch - 350px);
    border-color: #245DDA;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    position: absolute;
    z-index: 9;
}
#header {
    width: 100%;
    height: 30px;
    background-color: #245DDA;
    display: flex;
    flex-direction: row-reverse;
    gap: 2px;
    z-index: 10;
    cursor: move;
}
.but {
    height: 25px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}
#minim {
    background-color: #0a53be;
    cursor: pointer;
}
#move {
    background-color: #0a53be;
    font-size: 20px;
    opacity: 50%;
    cursor: default;
}
#close {
    background-color: #ff5555;
    cursor: pointer;
}
#app {
    display: flex;
    gap: 5px;
    flex-grow: 1;
    line-height: 25px;
    text-align: left;
}
#taskbar {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #245DDA;
    display: flex;
    flex-direction: row;
    line-height: 50px;
    overflow: hidden;
    align-items: center;
}
#start {
    height: 32px;
    margin-left: 10px;
    margin-top: 8px;
}
#startbg {
    background-color: #158515;
    width: 150px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 25px;
    line-height: 50px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 10px;
}
.taskbar-element{
    height: 50px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.taskbar-element > img {
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.element-active {
    background-color: rgba(255,255,255,0.25);
}
.element-minimized {
    background-color: rgba(255,255,255,0.10);
}
.element-closed {
    background-color: rgba(255,255,255,0.0);
    font-size: 0;
}
#spacer {
    display: flex;
    flex-grow: 1;
}
#MyClockDisplay {
    width: 120px;
    height: 50px;
    background-color: #2e7ffe;
    text-align: right;
    padding-right: 10px;
}
#stats {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #ff0000;
    font-size: 30px;
}
#play-area {
    background-color: #bbbbbb;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#reset {
    height: 40px;
    width: 40px;
    border-style: outset;
    background-image: url("face.png");
    background-size: 100%;
    cursor: pointer;
}
.cell {
    background-color: #bbbbbb;
    border-style: outset;
    width: calc(500px/20);
    height: calc(500px/20);
    text-align: center;
    font-family: Consolas, serif;
    font-weight: bold;
    background-size: 100%;
}

.wall {
    background-color: #666666;
    border-style: outset;
    width: calc(500px/20);
    height: calc(500px/20);
}

.unselected {
    cursor: pointer;
}

#button-area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 50px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

#lose {
    text-align: center;
}

#mouse {
    margin-left: auto;
}

#flags {
    margin-right: auto;
}

#timer {
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    background-color: #000000;
    border-style: inset;
}

#bombs-left {
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    background-color: #000000;
    border-style: inset;
}

#mode {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50px;
    width: 50px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.button {
    width: 100px;
    cursor: pointer;
    border-style: outset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button > img {
    height: 20px;
    width: 20px;
}