body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(20, 20, 20);
    background-image: url("img/bg.png");
    background-size: 200%;
    color: rgb(220, 220, 220);
}
h2 {
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center
}
form {
    border: 3px solid rgb(red, green, blue);
}
label {
    font-weight: bold;
}
input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(80, 80, 80);
    color: rgb(150, 150, 150);
    border-radius: 100px;
}

button {
    color: smoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 100px;
}

button:hover {
    opacity: 0.8;
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    aspect-ratio: 1;
}

.bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 40px;
}

.main, .bot {
    padding: 16px;
}

a {
    color: paleturquoise;
}

.cancel, .login, .forg {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.cancel {
    background-color: #ff6961;
}

.login {
    background-color: #77dd77;
}

@media (min-width: 750px) {
    .all {
        display: flex;
        flex-direction: row;
    }
    .main {
        width: 100%;
    }
    .imgcontainer {
        width: 40%;
        align-items: center;
    }
    img.avatar {
        margin-left: 20%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        aspect-ratio: 1;
        margin-top: 15px;
        margin-bottom: auto;
        margin-right: auto;
    }
}
  