@font-face {
    font-family: abadi;
    src: url(src/fonts/ABALC.TTF);
}
@font-face {
    font-family: proxima;
    src: url(src/fonts/ProximaNovaFont.otf);
}
@font-face {
    font-family: corp-sans;
    src: url(src/fonts/corporative-sans.ttf);
}
@font-face {
    font-family: work-sans;
    src: url(src/fonts/WorkSans-VariableFont_wght.ttf);
}
nav {
    top: 0px;
    position: sticky;
    background-color: #005870;
    grid-area: nav;
    display: grid;
    grid-template-areas:
        "logo lnk1 lnk2 lnk3 nose";
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px;
    color: #ffffff;
    z-index: 2;
}
header {
    grid-area: head;
    overflow: hidden;
}
header img {
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
}
.btn {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 400px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s;
}
.btn:hover {
    transform: scale(1.1);
    transition: 0.1s;
}
.btnleft {
    left: 20px;
}
.btnright {
    right: 20px;
}
.slide {
    display:none;
}
.titol {
    position: absolute;
    z-index: 1;
    top: 250px;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.titl {
    font-size: 150px;
    font-weight: bold;
    color: #ffffff;
    font-family: corp-sans;
}
.logo {
    margin-top: auto;
    margin-right: auto;
    display: block;
    height: 90%;
    grid-area: logo;
}
.home {
    grid-area: lnk1;
    display: grid;
    place-items: center;
}
.serveis {
    grid-area: lnk2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.qsom {
    grid-area: lnk3;
    display: grid;
    place-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}
.actiu {
    border-bottom: #cccccc;
    border-style: solid;
    border-bottom: -15px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
nav div:hover {
    color: #cccccc;
    border-bottom: #cccccc;
    border-style: solid;
    border-bottom: -15px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.mutues {
    grid-area: mut;
    display: flex;
    flex-direction: column;
}
.muts {
    display: flex;
    flex-direction: row;
}
.tall {
    border: solid #cccccc 1px;
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-family: proxima;
}
h1 {
    font-weight: normal;
    font-size: 30px;
    text-align: left;
}
.texts {
    margin: 0px;
    color: black;
}
.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: proxima;
    z-index: 1;
    box-shadow: rgb(50, 50, 50) 0px 20px 30px -10px;
}
h1 {
    color: black;
    text-align: center;
}
h2 {
    text-align: center;
}
.digspacer {
    margin-left: auto;
    margin-right: auto;
}
.mutues img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 70px;
}
h4 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: #00a0e4;
    font-family: abadi;
}
.contact div div {
    display: flex;
    gap: 10px;
    margin-right: auto;
    margin-left: 50px;
    margin-bottom: 20px;
}
.contact div div a {
    text-decoration: none;
    color: black;
    text-align: left;
    line-height: 1.6;
    font-weight: bold;
    font-size: 18px;
}
.contact div div * {
    margin-top: auto;
    margin-bottom: auto;
}
.contact div div i {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}
.contact .horari {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 85px;
    margin-bottom: 50px;
}
.contact .horari h3 {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
}
.contact .horari h5 {
    margin-right: auto;
    font-weight: normal;
    font-size: 18px;
}
@media screen and (max-width: 1000px) {
    body {
        grid-template-areas:
            "nav"
            "head"
            "contact"
            "main"
            "mut";
        grid-template-columns: 100%;
        grid-template-rows: 200px 600px 400px auto 200px;
    }
    nav div {
        height: 100%;
    }
    .contact {
        flex-direction: column;
        width: 100%;
        height: 400px;
        background-color: #ffffff;
        overflow: hidden;
    }
    .contact > div {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .contact > div div{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .spcs {
        margin-top: 0px;
    }
    .contact .horari {
        margin-left: 0px;
        margin-bottom: 0px;
    }
    main {
        width: 100%;
        height: auto;
    }
}