@font-face {
    font-family: font;
    src: url(fonts/OpenSans.ttf);
}

* {
    font-family: font, serif;
}

body {
    overflow-x: hidden;
}

.skin {
    background-color: #1e1e1e;
    width: 40%;
    border-radius: 20px;
    display: block;
}

#skins {
    justify-content: center;
}

.skin img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.verticalNav {
    display: none;
    position: absolute;
    background-color: #dc3545;
    width: 100%;
    padding-left: 20px;
}

@media screen and (max-width: 1200px) {
    .skin {
        width: 100%;
    }

    .example::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar for Chrome, Safari and Opera */
    }

    .example {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}