.grid-container {
    display: grid;
    /*grid gap, separacio INTERNA edl grid, vertical horitzontal*/
    grid-gap: 10px 10px;
    /*color de la separacio*/
    background-color: #2196F3;
    /*padding, separacio EXTERNA del grid*/
    padding: 10px;
    
    /*grid-template-columns, especifiques el tamany de les n columnes que vols posar */
    /*grid-template-columns: 20% 30% 30% 20%*/
    /*pots fer servir fr , de fraccio, per a "repartir l'espai que queda"*/
    grid-template-columns: 50px 2fr 4fr 10%;
    grid-template-rows: 1fr 2fr 2fr;
  }
  
  .grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: green;
}
  
.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: red;
}
.item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: yellow;
}
.item4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: purple;
}
.item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: blue;
}
.item6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: pink;
}