@font-face {
    font-family: ProductSans;
    src: url(../../fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vmax;
    overflow: hidden;
    color: #dddddd;
    display: grid;
    grid-template-areas:
        "head head"
        "nav main";
    grid-template-columns: 260px calc(100% - 260px);
    grid-template-rows: 60px calc(100% - 60px);
    background-color: #171717;
}

header {
    font-family: ProductSans;
    grid-area: head;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #171717;
    z-index: 1;
}

nav {
    font-family: Roboto;
    grid-area: nav;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #171717;
    z-index: 1;
}

main {
    font-family: Roboto;
    grid-area: main;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 10px;
    font-size: 12px;
}

.logoimg {
    height: 40px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #dddddd;
    ;
}

nav>a>div {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 33px;
    font-size: 0.65em;
    gap: 1.5em;
}

nav>a>div>i {
    width: 2em;
    display: block;
    text-align: center;
}

.active,
nav>a>div:hover {
    cursor: pointer;
    background-color: #303030;
}

table {
    font-size: 1.2em;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #303030;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #272727;
}

tr:hover {
    background-color: #303030;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b54756;
    color: white;
}