#examen {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 15px;
    border-style: double;
    border-width: 20px;
    border-color: darkgreen;
    background-color: azure;
    color: darkblue;
    padding: 40px;
}