:root {
    --black: #000000;
    --white: #ffffff;
    --red: #b54756;
    --green: #71f79f;
    --radius: 10px;
}
@font-face {
    font-family: Moon_Light;
    src: url(fonts/Moon_Light.otf);
}
@font-face {
    font-family: Moon_Bold;
    src: url(fonts/Moon_Bold.otf);
}
* {
    font-family: Moon_Bold, serif;
}
body {
    background-color: #000000;
    width: 100vmax;
    height: 100vh;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.download {
    height: 3em;
    width: 9em;
    background-color: var(--green);
    border-radius: var(--radius);
    border-width: 0;
}
.download::before {
    content: "Download";
}

.card {
    display: flex;
    flex-direction: row;
    background-color: var(--red);
    border-radius: var(--radius);
}