.caixa {
    background-color: green;
    color: black;
    height: 100px;
    width: 100px;
    animation: infinite 5s forwards;
    animation-delay: 1s;
    animation-name: ani;
}

@keyframes ani {
    0% {
        transform: translate(0%, 0%);
        background-color: green;
    }
    50% {
        transform: translate(calc(100vmax - 120px), calc(100vh - 120px));
        background-color: yellow;
    }
    100% {
        transform: translate(0%, 0%);
        background-color: green;
    }
}