body {
    font-family: sans-serif;
    font-size: 15px;
}

h1 {
    width: 10em;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
    font-size: 300%;
}

h2 {
    margin: 10% 20%;
    padding: 3em;
    background-color: #FFC;
    text-align: center;
}

h3 {
    text-align: center;
    background-color: hsl(0, 100%, 50%);
    opacity: 0.5;
}

h4 {
    text-align: center;
    width: 50%;
    background-color: hsl(60, 100%, 50%);
}

em {
    color: #600;
}

p {
    text-align: center;
}

.neg {
    animation: linear 2.0s forwards;
    animation-name: rot;
    transform-origin: 0% 100%;
}

.mtx {
    animation: linear 2.0s forwards;
    animation-name: mat;
}

.tra {
    animation: linear 2.0s forwards;
    animation-name: trans;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg) translate(-10em, 0em);
    }
}

@keyframes mat {
    100% {
        transform: matrix(1.414, -1.414, 1.414, 1.414, 0, 0);
    }
}

@keyframes trans {
    100% {
        transform: translate(50%, 3em);
    }
}