body {
    border: 0;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1abc9c;
    line-height: 80px;
    order: 1;
}

.cos {
    display: flex;
    flex-direction: column;
    order: 3;
} 

nav {
    background-color: #3498db;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    order: 2;
    width: 100%;
}

nav a {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
}

article {
    background-color: #9b59b6;
    width: 100%;
    order: 1;
}

footer {
    background-color: #e67e22;
    order: 2;
}

header,
nav,
article,
footer {
    color: white;
    padding: 10px;
}

header,
footer {
    height: 12vmax;
    text-align: center;
    width: 100%
}

h1,
p {
    margin: 0 0 15px 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

main article {}

@media (min-width: 600px) {
    main {
        display: initial;
    }
    .cos { 
        flex-direction: row;
    }
    nav {
        order: 1;
        width: 200px;
    }
    article {
        order: 2;
    }
}