body {
    width: 60em;
    margin: 0 auto;
    overflow: auto;
    display: grid;
    grid-template-columns: 10em 50em;
    grid-template-rows: auto auto auto auto;
}

section {
    padding: 2em;
    margin: 1em;
}

#green {
    background-color: #baffc9;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#orange {
    background-color: #ffdfba;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#yellow {
    background-color: #ffffba;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#red {
    background-color: #ffb3ba;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#blue {
    background-color: #bae1ff;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

#red ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    direction: rtl;
    text-align: left;
}
#yellow ul {
    padding: 0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
}