body {
    background-color: rgb(30,30,30);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .cnt {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 100%;
    text-align: center;
  }

  footer {
    background-color: bisque;
    color: black;
    font-style: italic;
  }
  a {
    color: pink;
  }

  a:hover {
    color: hotpink;
  }

.left {
    float: left;
    width: 48%;
    padding: 1%;
  }

  .right {
    float: right;
    width: 48%;
    padding: 1%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .imgw {
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
  }