p {
    margin: 8px;
    font-size: 16px;
}
.mevaclass
{
    color: hotpink;
}
.mevaclass2
{
    background:lime;
}
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

p, h1 {
    cursor: pointer;
}