.black {
    background-color: #000000;
    color: #ffffff;
}

.red {
    background-color: #b54756;
    color: #000000;
}

.green {
    background-color: #71f79f;
    color: #000000;
}

.white {
    background-color: #ffffff;
    color: #000000;
}