:root {
    --black: #000000;
    --white: #ffffff;
    --red: #b54756;
    --green: #71f79f;
}

@font-face {
    font-family: Moon_Bold;
    src: url(fonts/Moon_Bold.otf);
}

@font-face {
    font-family: Moon_Light;
    src: url(fonts/Moon_Light.otf);
}

* {
    cursor: default;
    font-family: Moon_Light, sans-serif;
    z-index: 1;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vmax;
    overflow: hidden;
    display: grid;
    grid-template-areas:
    "nav"
    "main";
    grid-template-rows: 40px calc(100vh - 40px);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: visible;
    z-index: 2;
}

.nav-left {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: left;
}

.nav-right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-grow: 3;
    justify-content: right;
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    cursor: pointer;
    transition: all 0.1s linear;
    transform: scale(1.025);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(255, 255, 255, 0.3);
}

main {
    grid-area: main;
}

#name {
    display: flex;
    font-weight: lighter;
    font-size: 6em;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vmax;
    color: var(--white);
    animation: 6s infinite ease-in-out nameFloat;
    z-index: 4;
}

@keyframes nameFloat {
    0% {
        transform: translate(0%, calc(40% - 100px));
    }
    50% {
        transform: translate(0%, calc(40% - 80px));
    }
    100% {
        transform: translate(0%, calc(40% - 100px));
    }
}

#planet {
    height: 50em;
    position: absolute;
    top: calc(50% - (50em) / 2);
    left: calc(50% - (50em) / 2);
    z-index: 1;
}

#stars {
    height: 100%;
    width: 100%;
}

#stars > div {
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    left: -40px;
    animation-name: starMov;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3);
}

@keyframes starMov {
    0% {
        left: 0;
    }
    100% {
        left: calc(100vmax * 1.5);
    }
}