body {
    background-color: beige;
}
.container {
    border: 1px solid orangered;
    width: 800px;
    margin: 20px auto;
    background-color: orange;
}
.container div {
    display: inline-block;
    border: 2px solid darkmagenta;
    background-color: fuchsia;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.q1, .q2, .q3 {
    animation: linear 3.0s forwards;
}
.q1 {
    animation-name: a1;
}
.q2 {
    animation-name: a2;
}
.q3 {
    animation-name: a3;
}

@keyframes a1 {
    0% {transform: rotate(0deg);}
    80% {transform: rotate(180deg);}
    100% {transform: rotate(180deg);}
}
@keyframes a2 {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(45deg);}
    100% {transform: rotate(45deg);}
}
@keyframes a3 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(225deg);}
}