body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3vh;
    background-color: #353535;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.titl {
    position: absolute;
    margin-top: -600px;
    width: auto;
    height: 50px;
    text-align: center;
    background-color: #353535;
    color: #d7d5cb;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.pick {
    animation: infinite 2s forwards;
    animation-delay: 1s;
    animation-name: tsh;
    visibility: hidden;
}

.where {
    animation: infinite 2s forwards;
    animation-delay: 2s;
    animation-name: tsh;
    visibility: hidden;
}

.to {
    animation: infinite 2s forwards;
    animation-delay: 3s;
    animation-name: tsh;
    visibility: hidden;
}

.go {
    animation: infinite 2s forwards;
    animation-delay: 4s;
    animation-name: tsh;
    visibility: hidden;
}

* {
    text-decoration: none;
    color: #f1beb0;
}

.all {
    width: 400px;
    height: 400px;
    border-radius: 100px 100px 100px 100px;
    background-color: #151515;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.all>*{
    mix-blend-mode: difference;
}
div{
    width: 200px;
    height: 200px;
    color: #151515;
    display: grid;
    place-items: center;
}
.lnk {
    display: grid;
    place-items: center;
    margin-top: -100px;
}
.anime,
.characters,
.staff,
.extra {
    top: calc(40% + 0.25em);
    color: #f1beb0;
    z-index: 2;
}

.moving {
    z-index: 1;
    background-color: #f1beb0;
    animation: infinite 8s forwards;
    animation-name: mov;
    overflow: hidden;
    border-radius: 100px 10px 10px 10px;
    top: 40%;
}

@keyframes mov {
    0% {
        transform: translate(0px, -400px) rotate(0deg) scale(0.9);
    }

    12.5% {
        transform: translate(0px, -400px) rotate(0deg) scale(0.7);
    }

    25% {
        transform: translate(200px, -400px) rotate(90deg) scale(0.9);
    }

    37.5% {
        transform: translate(200px, -400px) rotate(90deg) scale(0.7);
    }

    50% {
        transform: translate(200px, -200px) rotate(180deg) scale(0.9);
    }

    62.5% {
        transform: translate(200px, -200px) rotate(180deg) scale(0.7);
    }

    75% {
        transform: translate(0px, -200px) rotate(270deg) scale(0.9);
    }

    87.5% {
        transform: translate(0px, -200px) rotate(270deg) scale(0.7);
    }

    100% {
        transform: translate(0px, -400px) rotate(360deg) scale(0.9);
    }
}

@keyframes tsh {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}