* {
    border-radius: 10px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3vh;
    background-color: #353535
}

nav,
aside {
    background-color: #f1beb0;
    color: #151515;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header,
footer {
    background-color: #151515;
    color: #f1beb0;
    margin: 10px;
}

table {
    margin: 5px;
    margin-top: 20px;
}

td,
tr {
    border-radius: 0px;
    border-color: #151515;
    border-style: solid;
    border-width: 1px;
}

.titls {
    text-align: right;
    background-color: grey;
    font-weight: bold;
}

.cntt {
    background-color: lightgrey;
    text-align: left;
    font-weight: normal;
}

section {
    background-color: #d7d5cb;
    color: #151515;
}

.staff {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    width: auto;
}

.chars {
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    overflow-y: hidden;
    margin-right: 10px;
}

.chars,
.staff,
.form {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #353535;
}

.char {
    background-color: #d7d5cb;
    width: 300px;
    min-width: 300px;
    height: auto;
    margin-left: 0px;
    margin-right: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    color: #d7d5cb;
    overflow-y: scroll;
}

.member {
    height: 200px;
    min-height: 200px;
    width: calc(100% - 10px);
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 100px 200px auto;
    row-gap: 10px;
    background-color: #151515;
    color: #d7d5cb;
    margin-right: 10px;
}

.member img,
.member ul,
.member p {
    margin: 10px;
}

.member img {
    height: calc(100% - 20px);
}

.member ul {
    text-align: left;
}

.member .info {
    margin-left: 10px;
}

.char div {
    background-color: rgba(0, 0, 0, 0.65);
    margin: 2%;
}

.bot p {
    margin: 10px;
}

.top img {
    width: 30%;
    margin: 2%;
    margin-right: 0px;
}

.top ul {
    width: 50%;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 12% 80% 8%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

nav a {
    display: grid;
    place-items: center;
    width: 100%;
}

nav a,
nav div {
    height: auto;
    width: 98%;
    color: #151515;
    text-align: left;

}

nav a div {
    transition: 0.25s ease;
    margin: 5%;
    height: 25px;
}

nav a div:hover {
    transition: 0.25s ease;
    transform: translate(15px, 0px);
    place-items: start center;
}

.current {
    background-color: #151515;
    color: #f1beb0;
}

p {
    margin: 1%;
    font-size: 120%;
}

audio {
    margin: 10px;
    width: calc(100% - 20px);
}

span {
    display: inline-block;
    margin-top: 20%;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
    font-size: 150%;
    margin: auto;
    margin-left: 5px;
}

section {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

section .text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text div {
    width: calc(50% - 40px);
    margin: 20px;
}

aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: scroll;
    overflow-x: hidden;
}

aside img {
    display: block;
    margin: auto;
    width: 80%;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.lft {
    width: 120%;
    margin-right: auto;
}

.rgh {
    width: 20%;
    margin-left: auto;
}

.prof {
    height: 20px;
    width: 20px;
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1%;
}

aside a {
    color: darkblue;
}

footer a {
    color: paleturquoise;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #151515;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d7d5cb;
    border-radius: 10px;
}

hr {
    width: 80%;
    height: 2px;
    background-color: #151515;
    border: none;
}

input {
    text-align: left;
    border-width: 0px;
    background-color: #353535;
    color: #d7d5cb;
}

form {
    overflow-y: scroll;
    width: 40%;
    margin-bottom: 45px;
    border-style: solid;
    border-radius: 20px;
    border-color: #353535;
    overflow-x: hidden;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    font-weight: bold;
}

.lns {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

.form * {
    border-radius: 2px;
}

.form {
    display: flex;
    width: calc(100% - 10px);
    margin-right: auto;
    text-align: center;
    color: #d7d5cb;
    background-color: #151515;
    align-items: center;
}

.lftts {
    display: flex;
    align-items: flex-start;
    margin: 2px;
    margin-left: 30%;
}

.dta {
    margin-bottom: 20px;
}

@media (max-width: 1500px) {
    * {
        margin: 10px;
    }

    body {
        overflow: hidden;
        margin: 0px;
        margin-left: -10px;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .container {
        margin: 0px;
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 75% 25%;
        grid-template-rows: 100px 75px auto 75px;
    }

    .rgh {
        width: 500px;
    }

    .rgh * {
        margin: 0px;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    nav {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-direction: row;
        align-items: center;
    }

    nav h2 {
        margin-top: 85px;
    }

    nav a div {
        text-align: center;
        transition: 0.25s ease;
    }

    nav a div:hover {
        transition: 0.25s ease;
        transform: translate(0px, 5px);
        place-items: start center;
    }

    section {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .chars,
    .staff,
    .form {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: #353535;
    }

    .form {
        width: calc(100% - 20px);
        background-color: #151515;
    }

    form {
        width: 60%;
    }

    aside {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    footer {
        margin-top: 0px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-bottom: 20px;
    }

    .member {
        margin: 0px;
    }

    nav hr {
        width: 2px;
        height: 80%;
    }

    nav a,
    nav h2 {
        height: 100px;
    }

    .text div {
        width: 100%;
        margin: 20px;
    }
}

@media (max-width: 1000px) {
    * {
        margin: 10px;
    }

    body {
        width: 100vmax;
        height: auto;
        overflow-y: scroll;
        margin: 0px;
        margin-left: -10px;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .container {
        margin: 0px;
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 100vmax;
        grid-template-rows: 100px 75px auto 200px 75px;
    }

    .rgh {
        width: 500px;
    }

    .rgh * {
        margin: 0px;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    nav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-direction: row;
        align-items: center;
    }

    nav h2 {
        margin-top: 85px;
    }

    nav a div {
        text-align: center;
        transition: 0.25s ease;
    }

    nav a div:hover {
        transition: 0.25s ease;
        transform: translate(0px, 5px);
        place-items: start center;
    }

    section {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .chars,
    .staff,
    .form {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: #353535;
    }

    .form {
        width: calc(100% - 20px);
        background-color: #151515;
    }

    form {
        width: 60%;
    }

    aside {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        width: calc(100% - 20px);
    }

    aside>* {
        margin: 0px;
    }
    aside div {
        width: 40%;
    }

    aside h2 {
        display: none;
    }

    aside img {
        width: 100px;
        margin-left: 20px;
    }

    footer {
        margin-top: 0px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-bottom: 20px;
    }

    .member {
        margin: 0px;
    }

    nav hr {
        width: 2px;
        height: 80%;
    }

    nav a,
    nav h2 {
        height: 100px;
    }

    .text div {
        width: 100%;
        margin: 20px;
    }
}