@font-face {
  font-family: gramond;
  src: url(fonts/AGaramond-Regular.otf);
}
body {
  background-color: #aaaaaa;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: gramond;
}
h1 {
  text-align: center;
  font-size: 4em;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
main {
  background-color: #eeeeee;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  box-shadow: rgb(50, 50, 50) 0px 20px 30px -10px;
}
.sideimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h1 {
  font-size: 2em;
  margin-left: 11%;
  margin-right: 11%;
}
.contact h2 {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.imgs {
  width: 50%;
}
a {
  text-decoration: none;
  color: black;
}
li {
  font-size: 1.5em;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
}
section {
  color: #fff200;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
.gallery {
  margin-top: 15px;
  margin-bottom: 40px;
  background-color: #eeeeee;
  height: auto;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(50, 50, 50) 0px 20px 30px -10px;
}
.enrere {
  position:absolute;
  top: 20px;
  left: 20px;
  position:fixed;
}
.gallery > div {
  width: 400px;
  height: 430px;
  margin: 20px;
  box-shadow: rgb(50, 50, 50) 0px 20px 30px -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallery > div img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.gallery > div h3 {
  text-align: center;
  text-transform: uppercase;
}
.gallerytitle {
  font-size: 2em;
  text-align: center;
  line-height: 50px;
}
.gallery > img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 20px;
  box-shadow: 0px 8px 15px rgba(50, 50, 50, 0.4);
}
button {
    width: 140px;
    height: 45px;
    font-family: gramond;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(50, 50, 50, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
i {
  margin-right: 10px;
}
.icon {
  margin-right: 10px;
  height: 22px;
}
button:hover {
  background-color: rbg(0, 0, 0);
  box-shadow: 0px 15px 20px rgba(50, 50, 50, 0.8);
  color: black;
  transform: translateY(-7px);
}

@media (max-width:1000px) {
  .gallerytitle{
    font-size: 3em;
  }
  .enrere {
  }
  main {
    width: 100%;
    flex-direction: column;
  }
  .gallery > img{
    height: 800px;
    width: calc(100% - 40px);;
  }
  .imgs {
    width: 100%;
    height: 500px;
  }
  .contact {
    width: 100%;
  }
  .icon {
    margin-right: 20px;
    height: 50px;
    width: 50px;
  }
  li {
    margin-top: 50px;
    font-size: 2em;
    margin-left: -40px;
  }
  .contact h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 6em;
    width: calc(100% - 40px);
    text-align: center;
  }
  section {
    text-shadow: -2px 0 black, 0 4px black, 4px 0 black, 0 -2px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .galtit {
    margin-top: 160px;
  }
  .gallery {
    width: 100%;
    margin-bottom: 0px;
  }
  .maintitle {
    font-size: 6em;
    color: #fff200;
    text-shadow: -2px 0 black, 0 4px black, 4px 0 black, 0 -2px black;
    position: absolute;
    top: 100px;
  }
  .gallery > div {
    width: 80%;
    height: auto;
  }
  .gallery > div img {
    height: 600px;
    width: 100%;
  }
  .gallery > div h3 {
    font-size: 3em;
    padding-left: 20px;
    padding-right: 20px;
  }
  button {
    width: 400px;
    height: 100px;
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: bolder;
  }
}